.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  background-color: rgb(148, 197, 231);
height: 100vh;
display: flex;
flex-direction: column;
align-content: center;
align-self: center;

}
.login-items {
  display: block;
  width: 50%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 110px;
  margin-top: 6%;
  margin-bottom: auto;

}
.Header-User {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background-color: indianred;
  width: 50px;
  height: 50px;

}

.Header-User:hover {
  background-color: yellow;
  cursor: pointer;
}

.bg-color {
  background-color:  rgb(148, 197, 231);
}